#location{
  font-size: 3rem;
  font-weight: 600;
}
#temp{
  grid-area: temp;
  font-size: 4rem;
  font-weight: 600;
}

#container{
  background-image: url('https://images.unsplash.com/photo-1520052205864-92d242b3a76b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  width: 800px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
 
}

#forecast{
  display: flex;
}
.day{
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.wrapper{
  display: flex;
  justify-content: space-around;
  width: inherit;
}